%%-*- mode: erlang -*-

%% rebar deps
{deps, [
	{jsx, "2.8.0.*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
	{hackney, "1.4.8.*", {git, "https://github.com/benoitc/hackney.git", {tag, "1.4.8"}}}
]}.


%% Erlang options
{erl_opts, [
    warn_export_all,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warnings_as_errors,
    debug_info
]}.
